body{
    margin: 0;
    background: #f1f1f1;
    text-align: center;
}

header {
    background-color: #061148;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Style the footer */
  footer {
    background-color: #061148;
    padding: 5px;
    text-align: center;
    color: white;
  }

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover {
    color: #f1f1f1;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: #ccc;
    background-color: transparent;
    text-decoration: underline;
  }

  p {
    font-size: 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15;
    width: 30%;
  }
